<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hotel Booking Website</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bookme.css">
  </head>
  <body>
    <nav class="nav-flex">
        <a class="brand-name" href="index.html">HBO</a>
        
          <div class="links">
            <a  class="links-decor" href="index.html">Home</a></li>
            <a class="links-decor" href="#">About</a></li>
            <a  class="links-decor"href="#">Hotels</a>
            <a class="links-decor" href="#">Contact</a>
            <a class="links-decor" href="login.html">Login</a>
          </div>
        
    </nav>
    <h1 class="main">Options</h1>
    <section class="cards-section">
        <div class="card-container">
          <div class="card">
            <div class="card__heading">
                <h2 class="hotel-name">Regent Plaza</h2>
            </div>
            <div class="front">
                <div>
                    <img src="/images/roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="Product Image">
                </div>
                <div class="hotel-desc">
                    <h3>Price: 43</h3> 
                    <h3>Stars: 234</h3>
                    <h3>Room Type: Executive</h3>
                </div>
                <div>
                    <input class="submit-btn" type="submit" value="Book Now">
                </div>
            </div>
          </div>
        </div>


        <div class="card-container">
            <div class="card">
              <div class="card__heading">
                  <h2 class="hotel-name">Regent Plaza</h2>
              </div>
              <div class="front">
                  <div>
                      <img src="/images/roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="Product Image">
                  </div>
                  <div class="hotel-desc">
                    <h3>Price: 43</h3> 
                    <h3>Stars: 234</h3>
                    <h3>Room Type: Executive</h3>
                  </div>
                  <div>
                      <input class="submit-btn" type="submit" value="Book Now">
                  </div>
              </div>
            </div>
        </div>
          

        <div class="card-container">
            <div class="card">
              <div class="card__heading">
                  <h2 class="hotel-name">Regent Plaza</h2>
              </div>
              <div class="front">
                  <div>
                      <img src="/images/roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="Product Image">
                  </div>
                  <div class="hotel-desc">
                    <h3>Price: 43</h3> 
                    <h3>Stars: 234</h3>
                    <h3>Room Type: Executive</h3>
                  </div>
                  <div>
                      <input class="submit-btn" type="submit" value="Book Now">
                  </div>
              </div>
            </div>
        </div>


      </section>
  
        
    </body>
</html>