<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hotel Booking Website</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="card.css"> -->
    <script defer="" src="login.js"></script>
  </head>
  <body>
    <nav class="nav-flex">
        <a class="brand-name" href="index.html">HBO</a>
        
          <div class="links">
            <a  class="links-decor" href="index.html">Home</a></li>
            <a class="links-decor" href="#">About</a></li>
            <a  class="links-decor"href="#">Hotels</a>
            <a class="links-decor" href="#">Contact</a>
            <a class="links-decor" href="login.html">Login</a>
          </div>
        
      </nav>
    <section>
  
        <div class="login-box">
          <h2>Login</h2>
          <form class="login-pg">
            <label>Username:</label>
            <input class="username" type="text" placeholder="Enter username">
      
            <label>Password:</label>
            <input class="password" type="password" placeholder="Enter password">
      
            <input class="login_submit" type="submit" value="Login">
            <div class="forgot-password">
              <a href="#">Forgot Password?</a>
            </div>
            <div class="register">
              <p>Don't have an account?</p>
              <a href="/register">Register</a>
            </div>
          </form>
        </div>
      
    </section>
    </body>
</html>