<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reviews Page</title>
    <link rel="stylesheet" href="reviews.css" />
    <script defer="" src="review.js"></script>
  </head>
  <body>
    <header>
      <h1>Customer Reviews</h1>
    </header>

    <main>
      <div class="review-whole">
        <section class="review">
          <div class="review-text">
            <h2>Bob Johnson</h2>
            <p>
              "Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum."
            </p>
          </div>
        </section>

        <section class="review">
          <div class="review-text">
            <h2>Bob Johnson</h2>
            <p>
              "Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum."
            </p>
          </div>
        </section>

        <section class="review">
          <div class="review-text">
            <h2>Bob Johnson</h2>
            <p>
              "Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum."
            </p>
          </div>
        </section>
      </div>
      <div class="review-whole-form">
        <form class="review-form">
          <div class="hotel">
            <label class="label-heading" for=""><h3>Hotel:</h3></label>
            <select name="">
              <option value="">--- Select Option ---</option>
              <option value="">PC</option>
              <option value="">Mariot</option>
              <option value="">Regent Plaza</option>
            </select>
          </div>
          <div class="stars">
            <div class="rating">
              <h3>Rating:</h3>
              <div class="ratings">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1"></label>
              </div>
            </div>
          </div>
          <div>
            <h3>Review:</h3>
            <textarea
              class="review-text-input"
              name="Review_text"
              id=""
              cols="30"
              rows="10"
              placeholder="Enter review here."
            ></textarea
            >
          </div>
          <% if (locals.username) { %>
            <button class="submit-btn" type="submit" value="Submit" >Submit</button>
            <% } else { %>
             <div>
              <p class="not_signed" style="color: 'red'">Not Signed In</p>
            <button class="submit-btn disabled" type="submit" value="Submit" disabled="true" >Submit</button>
             </div>
            <% } %>
        </form>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Reviews Page</p>
    </footer>
  </body>
</html>
